development:
  adapter: postgresql
  database: juvia
  host: localhost
  username:
  password:

test:
  adapter: postgresql
  database: juvia
  host: localhost
  username:
  password:

production:
  adapter: postgresql
  host:
  database: juvia
  username: test-postgres
  password: